
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td class="leftcol" width="33.33333333%">
      <img src="../../assets/images/ApkD-TRR2b4.jpg" alt="Eugene"></td>
    <td valign="top">
      <div class="col s4 m4">
        <br><br>
        <p class="caption">
            <table width="100%">
        <tr style="display: flex; flex-direction: row">
          <td>
            <img src="../../assets/images/25657.png" width="100" alt="git">
          </td>
          <td>
            <div class="col m4 s12">
            <div class="card-panel"><a href="github.com/avvessalom">github.com/avvessalom</a></div>
            </div>
          </td>
        </tr>
        <tr style="display: flex; flex-direction: row">
          <td>
            <img src="../../assets/images/itmo_small_white_eng.png" width="110" alt="itmo">
          </td>
          <td>
            <div class="col m4 s12">
              <div class="card-panel"><a href="https://isu.ifmo.ru/pls/apex/f?p=2437:7:105855280725704:::::">isu.ifmo.ru/s251647</a></div>
            </div>
          </td>
        </tr>
        <tr style="display: flex; flex-direction: row">
          <td>
            <img src="../../assets/images/png-transparent-social-media-computer-icons-vkontakte-football-player-logo-social-media-black.png" height="100" alt="vk">
          </td>
          <td>
            <div class="col m4 s12">
              <div class="card-panel"><a href="https://vk.com/id117718955">vk.com/id117718955</a></div>
            </div>
          </td>
        </tr>
            </table>
      </div>
    </td>
  </tr>
</table>
