body{

    color: #800080
;
    background: white;

}

.table{
    border: 1px solid;
}
.table-header{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}
.header_item{
    flex: 1 1 20%;
    text-align: center;
}
.filter-link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;

}
.container{
    width: 100%;
    margin: 0 auto;
}

.centered{
    text-align: center;
}
.header{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: #30D5C8;
}
.master{
    height: 50px;
    width: 500px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: #800080;
    cursor: pointer;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.option{
    padding-right: 35px;
}

.name{
    padding-left: 20px;
}

.footer{
    flex: 0 0 auto;
    align-self: end;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #30D5C8 ;
}

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 0.5%;
}

.svg-container{
    text-align: center;
}

.svg-graph {
    position: relative;
    margin: 0 auto;
    background-color: #90d530;
    background-image: url("img/bob.jpg");
}

.axis{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 1s linear forwards;
}

.coordinate-line{
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 3s 1s linear forwards;
}

.coordinate-text{
    fill: 0;
    animation: full-opacity-anim 1s 1s linear forwards;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}
.data-send-form{
    /*float: right;*/
    margin: 0 auto;
}

.form-inputs{
    display: flex;
    justify-content: space-between;
}
.table_head{
    border-spacing: 30px 5px;
}
.form-buttons{
    margin: 25px;
    text-align: center;
}
.form-buttons > button{
    margin: 3px 10px;
}
.R{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1px;
}
.group{
    position: relative;
    /*margin: auto 0;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

.highlight{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.x-buttons{
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.x-buttons__inner{
    display: flex;
    flex-direction: row;
    flex-basis: content;
}



.send-button{
    background-color: #30D5C8;
    border: 1px solid rgb(33, 126, 74);
    width: 170px;
    color: #800080;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

.group{
    position: relative;
    margin: 15px;
}
.Y{
    margin-left: 30px;
}
.checkbox{
    width: 15px;
    height: 15px;
}

.table_check{
    border-spacing: 30px 5px;
    border-color: #757575;
    align-items: center;
    font-size: 25px;
}

.x-button{
    margin: 5px;
    color: #800080;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 35px;
}

.x-button svg{
    height: 35px;
    width: 50px;
    fill: none;
    stroke-width: 5;
}
.x-button svg .o1{
    stroke: #800080;
    fill: rgba(255, 23, 70, 0);
    transition: all 1s ease-in-out;
}

.x-button svg .o2{
    stroke: #800080;
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    fill: rgba(255, 23, 70, 0);
    transition: all 1s ease-in-out;
}

.x-button-active{
    transition: all 1s ease-in-out;
    background-color: #800080;
    color: #30D5C8;
    display: flex;
}

.x-button span{
    position: absolute;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(0,0,0,0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px rgba(0,0,0,0.08);
    color: #fff;
    width: 50px;
    text-align: center;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.clear-button{
    background-color: #30D5C8;
    border: 1px solid rgb(154, 12, 17);
    width: 150px;
}

/* y value*/
input{
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
    border: none;
    border-bottom: 2px solid #757575;
    background-color: #30D5C8;
}



 #payt3 {display: none;}
[for="payt3"] {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ddd linear-gradient(#ccc, #fff);
    box-shadow:
            inset 0 2px 1px rgba(0,0,0,.15),
            0 2px 5px rgba(200,200,200,.1);
    cursor: pointer;
}
[for="payt3"]:after {
    content: "";
    position: absolute;
    left: 40%; top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
            inset 0 2px 4px 1px rgba(0,0,0,.3),
            0 1px 0 rgba(255,255,255,1),
            inset 0 1px 0 white;
}
[for="payt3"]:before {
    content: "";
    position: absolute;
    top: 8%; right: 8%; bottom: 8%; left: 8%;
    border-radius: 100%;
    background: #eaeaea;
    box-shadow:
            0 3px 5px rgba(0,0,0,.25),
            inset 0 1px 0 rgba(255,255,255,.3),
            inset 0 -5px 5px rgba(100,100,100,.1),
            inset 0 5px 5px rgba(255,255,255,.3);
}
#payt3:checked ~ [for="payt3"]:before {
    background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#payt3:checked ~ [for="payt3"]:after {
    background: #25d025 radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
            inset 0 3px 5px 1px rgba(0,0,0,.1),
            0 1px 0 rgba(255,255,255,.4),
            0 0 10px 2px rgba(0, 210, 0, .5);
}
#payt1 {display: none;}
[for="payt1"] {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ddd linear-gradient(#ccc, #fff);
    box-shadow:
            inset 0 2px 1px rgba(0,0,0,.15),
            0 2px 5px rgba(200,200,200,.1);
    cursor: pointer;
}
[for="payt1"]:after {
    content: "";
    position: absolute;
    left: 40%; top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
            inset 0 2px 4px 1px rgba(0,0,0,.3),
            0 1px 0 rgba(255,255,255,1),
            inset 0 1px 0 white;
}
[for="payt1"]:before {
    content: "";
    position: absolute;
    top: 8%; right: 8%; bottom: 8%; left: 8%;
    border-radius: 100%;
    background: #eaeaea;
    box-shadow:
            0 3px 5px rgba(0,0,0,.25),
            inset 0 1px 0 rgba(255,255,255,.3),
            inset 0 -5px 5px rgba(100,100,100,.1),
            inset 0 5px 5px rgba(255,255,255,.3);
}
#payt1:checked ~ [for="payt1"]:before {
    background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#payt1:checked ~ [for="payt1"]:after {
    background: #25d025 radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
            inset 0 3px 5px 1px rgba(0,0,0,.1),
            0 1px 0 rgba(255,255,255,.4),
            0 0 10px 2px rgba(0, 210, 0, .5);
}
#payt2 {display: none;}
[for="payt2"] {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ddd linear-gradient(#ccc, #fff);
    box-shadow:
            inset 0 2px 1px rgba(0,0,0,.15),
            0 2px 5px rgba(200,200,200,.1);
    cursor: pointer;
}
[for="payt2"]:after {
    content: "";
    position: absolute;
    left: 40%; top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
            inset 0 2px 4px 1px rgba(0,0,0,.3),
            0 1px 0 rgba(255,255,255,1),
            inset 0 1px 0 white;
}
[for="payt2"]:before {
    content: "";
    position: absolute;
    top: 8%; right: 8%; bottom: 8%; left: 8%;
    border-radius: 100%;
    background: #eaeaea;
    box-shadow:
            0 3px 5px rgba(0,0,0,.25),
            inset 0 1px 0 rgba(255,255,255,.3),
            inset 0 -5px 5px rgba(100,100,100,.1),
            inset 0 5px 5px rgba(255,255,255,.3);
}
#payt2:checked ~ [for="payt2"]:before {
    background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#payt2:checked ~ [for="payt2"]:after {
    background: #25d025 radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
            inset 0 3px 5px 1px rgba(0,0,0,.1),
            0 1px 0 rgba(255,255,255,.4),
            0 0 10px 2px rgba(0, 210, 0, .5);
}
#payt4 {display: none;}
[for="payt4"] {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ddd linear-gradient(#ccc, #fff);
    box-shadow:
            inset 0 2px 1px rgba(0,0,0,.15),
            0 2px 5px rgba(200,200,200,.1);
    cursor: pointer;
}
[for="payt4"]:after {
    content: "";
    position: absolute;
    left: 40%; top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
            inset 0 2px 4px 1px rgba(0,0,0,.3),
            0 1px 0 rgba(255,255,255,1),
            inset 0 1px 0 white;
}
[for="payt4"]:before {
    content: "";
    position: absolute;
    top: 8%; right: 8%; bottom: 8%; left: 8%;
    border-radius: 100%;
    background: #eaeaea;
    box-shadow:
            0 3px 5px rgba(0,0,0,.25),
            inset 0 1px 0 rgba(255,255,255,.3),
            inset 0 -5px 5px rgba(100,100,100,.1),
            inset 0 5px 5px rgba(255,255,255,.3);
}
#payt4:checked ~ [for="payt4"]:before {
    background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#payt4:checked ~ [for="payt4"]:after {
    background: #25d025 radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
            inset 0 3px 5px 1px rgba(0,0,0,.1),
            0 1px 0 rgba(255,255,255,.4),
            0 0 10px 2px rgba(0, 210, 0, .5);
}
#payt5 {display: none;}
[for="payt5"] {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #ddd linear-gradient(#ccc, #fff);
    box-shadow:
            inset 0 2px 1px rgba(0,0,0,.15),
            0 2px 5px rgba(200,200,200,.1);
    cursor: pointer;
}
[for="payt5"]:after {
    content: "";
    position: absolute;
    left: 40%; top: 40%;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background: #969696 radial-gradient(40% 35%, #ccc, #969696 60%);
    box-shadow:
            inset 0 2px 4px 1px rgba(0,0,0,.3),
            0 1px 0 rgba(255,255,255,1),
            inset 0 1px 0 white;
}
[for="payt5"]:before {
    content: "";
    position: absolute;
    top: 8%; right: 8%; bottom: 8%; left: 8%;
    border-radius: 100%;
    background: #eaeaea;
    box-shadow:
            0 3px 5px rgba(0,0,0,.25),
            inset 0 1px 0 rgba(255,255,255,.3),
            inset 0 -5px 5px rgba(100,100,100,.1),
            inset 0 5px 5px rgba(255,255,255,.3);
}
#payt5:checked ~ [for="payt5"]:before {
    background: #e5e5e5 linear-gradient(#dedede, #fdfdfd);
}
#payt5:checked ~ [for="payt5"]:after {
    background: #25d025 radial-gradient(40% 35%, #5aef5a, #25d025 60%);
    box-shadow:
            inset 0 3px 5px 1px rgba(0,0,0,.1),
            0 1px 0 rgba(255,255,255,.4),
            0 0 10px 2px rgba(0, 210, 0, .5);
}
