
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td class="leftcol" width="33.33333333%">
      <img src="../../assets/images/q6g_Bt8YobA.jpg"  width="549" height="700" alt="roman">
    <td valign="top">
      <div class="col s4 m4">
        <br><br>
        <p class="caption">
        <table width="100%">
          <tr style="display: flex; flex-direction: row">
            <td>
              <img src="../../assets/images/25657.png" width="100" alt="git">
            </td>
            <td>
              <div class="col m4 s12">
                <div class="card-panel"><a href="github.com/salvoroni">github.com/salvoroni</a></div>
              </div>
            </td>
          </tr>
          <tr style="display: flex; flex-direction: row">
            <td>
              <img src="../../assets/images/itmo_small_white_eng.png" width="110" alt="itmo">
            </td>
            <td>
              <div class="col m4 s12">
                <div class="card-panel"><a href="https://isu.ifmo.ru/pls/apex/f?p=2437:7:105855280725704:::::">s263909</a></div>
              </div>
            </td>
          </tr>
        <tr style="display: flex; flex-direction: row">
          <td style="padding-top: 3.5%">
            <img src="../../assets/images/lgbt_PNG23.png" width="100" alt="vk">
          </td>
          <td>
            <div class="col m4 s12">
              <div class="card-panel"><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%93%D0%91%D0%A2">Gay website</a></div>
            </div>
          </td>
        </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
